<div class="container">
    <% content_for :title, "Editing page" %>

    <h1>Editing page</h1>

    <%= render "form", page: @page %>

    <br>

    <div class="container">
        <%= link_to "Show this page", @page %> |
        <%= link_to "Back to pages", pages_path %>
    </div>
</div>